.container {
  height: 100vh;
  display: flex;
}
.container div {
  display: flex;
  align-items: center;
}

.side-bar {
  flex-direction: column;
  justify-content: space-between;

  width: 20%;
  padding: 40px 0;
  margin-right: 70px;
  background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.side-bar h1 {
  color: #fff;
  font-size: 20px;
}
.reset {
  all: unset;
  width: 60%;
  height: 8%;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  background: #f0c551;
  cursor: pointer;
}
.reset:hover {
  transform: scale(1.1);
}
.cards {
  flex-wrap: wrap;
  width: 80%;
  gap: 0 32px;
  padding: 4% 0;
}
#congrats {
  position: absolute;
  top: 15%;
  left: 41%;
}
